h2 Books
table.table.table-striped.table-hover
    thead
        tr
            th.col-lg-3 Name
            th.col-lg-3 Description
            th.col-lg-3 Author
            th.col-lg-1
            th.col-lg-1
    tbody
        tr(ng-repeat="book in books")
            td.col-lg-3 {{book.name}}
            td.col-lg-3 {{book.description}}
            td.col-lg-3 {{book.authors[0].name}}
            td.col-lg-1
                a.pointer Edit
            td.col-lg-1
                a.pointer(ng-click="delete(book)") Delete

br
div(ng-controller="bookDetailController")
    button(type="button" class="btn btn-sm"  ng-click="addNewBook()") Add new book
    modal-dialog(show='modalShown' width='480px' height='80%')
        form.form-horizontal
            fieldset
                legend {{labels.frmTitle}}
                    div.form-group
                        br
                        label(for="name").col-lg-3.control-label Book Name
                        div.col-lg-8
                            input.form-control(type="text" id="name" placeholder="Book Name" ng-model="book.name")
                    div.form-group
                        label(for="desc").col-lg-3.control-label Description
                        div.col-lg-8
                            input.form-control(type="text" id="desc" placeholder="Description" ng-model="book.description")
                    div.form-group
                        div.col-lg-3
                        div.col-lg-9
                            h3 Authors
                        div.col-lg-3
                        div.col-lg-9
                            h4 You
                            a
                                h4.pointer Add more authors

                    div.form-group
                        div.col-lg-3
                        div.col-lg-9
                            button.btn.btn-primary.btn-sm(ng-click="saveBook()") {{labels.btnName}}
