h2 Users
table.table.table-striped.table-hover
    thead
        tr
            th.col-lg-3 Name
            th.col-lg-3 Email
            th.col-lg-3 Description
            th.col-lg-1
            th.col-lg-1
    tbody
        tr(ng-repeat="user in users")
            td.col-lg-3 {{user.name}}
            td.col-lg-3 {{user.email}}
            td.col-lg-3 {{user.description}}
            td.col-lg-1
                a.pointer(ng-click="editUser(user)") Edit
            td.col-lg-1
                a.pointer(ng-click="deleteUser(user)") Delete

br
div(ng-controller="userDetailController")
    button(type="button" class="btn btn-sm"  ng-click="addNewUser()") Add new user
    modal-dialog(show='modalShown' width='400px' height='80%')
        form.form-horizontal
            fieldset
                legend {{labels.frmTitle}}
                    div.form-group
                        br
                        label(for="name").col-lg-3.control-label Full Name
                        div.col-lg-8
                            input.form-control(type="text" id="name" placeholder="Full Name" ng-model="user.name")
                    div.form-group
                        label(for="email").col-lg-3.control-label Email
                        div.col-lg-8
                            input.form-control(type="text" id="email" placeholder="Email" ng-model="user.email")
                    div.form-group
                        label(for="password").col-lg-3.control-label Password
                        div.col-lg-8
                            input.form-control(type="password" id="password" placeholder="Password" ng-model="user.password")
                    div.form-group
                        label(for="desc").col-lg-3.control-label Small Description
                        div.col-lg-8
                            input.form-control(type="text" id="desc" placeholder="Small Description" ng-model="user.description")
                    div.form-group
                        div.col-lg-3
                        div.col-lg-9
                            div(ng-repeat="role in roles")
                                input.roundedTwo(type="checkbox" id="{{role.name}}" ng-model="role.checked")
                                label.role-label(for="{{role.name}}") {{role.name}}

                    div.form-group
                        div.col-lg-3
                        div.col-lg-9
                            button.btn.btn-primary.btn-sm(ng-click="saveUser()") {{labels.btnName}}
